<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>html.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>182E1F931EA0A5F400265EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182E1FAC1EA0A5F500265EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182E1FB71EA0A5F500265EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
